<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="UTF-8">
  <title>Dock modal demo.</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../dockModal/dockModal.css">
  <!-- <link rel="stylesheet" href="demo.css"> -->
</head>
<body ng-controller="demoCtrl">
  <a href="javascript:void(0)" ng-click="openDockModal('One')">Open Dock Modal - One</a><br/>
  <a href="javascript:void(0)" ng-click="openDockModal('Two')">Open Dock Modal - Two</a><br/>
  <a href="javascript:void(0)" ng-click="openDockModal()">Open Dock Modal - Random ID</a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  <script src="demo.js"></script>
  <script src="../dockModal/dockModal.js"></script>
</body>
</html>
